
* {
    bg0:    #16132066;
    bg1:    #1A1826;
    bg2:    #575268;
    bg3:    #DDB6F266;
    fg0:    #C9CBFF;
    fg1:    #D9E0EE;
    fg2:    #6E6C7E;
    fg3:    #988BA2;
}

@import "rounded-common.rasi"

